.custom-nav {
    /*background-color: mediumslateblue;*/
    /*color: white;*/
}

a:hover {
    cursor: pointer;
}

h1 {
    background-color: lightgray;
    border-radius: 10px;
    text-align: center;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
}

.oddcolor {
    background-color: lightblue;
}
.evencolor {
    background-color: lavenderblush;
}
.done-true {
    text-decoration: line-through;
}
.rm_task {
    background-color: lightskyblue;
}

body {
    padding-top: 40px;
}