<!DOCTYPE html>
<html lang="en" ng-app="ToDoApp">
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <!--<link rel="stylesheet" href="css/animate.css">-->
    <link rel="stylesheet" href="bower_components/animate.css/animate.css">
</head>
<body ng-controller="ToDoCtrl as ctrl">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
            <!--<span class="sr-only">Toggle navigation</span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <a class="navbar-brand" href="#"><strong><i class="fa fa-tasks" aria-hidden="true"></i>  Full Stack - TODO List App</strong></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                <li class="active"><a ng-click="ctrl.remove()" ng-show="ctrl.clientToDoList.length"><i>Remove Completed Tasks</i> <span class="sr-only">(current)</span></a></li>
                <!--<li><a ng-click="ctrl.remove()" ng-show="ctrl.clientToDoList.length">Remove Completed Tasks</a></li>-->
                <li class="active"><a class="custom-nav" ng-click="ctrl.save()" ng-show="ctrl.clientToDoList.length"><i>Save Tasks</i> <span class="sr-only">(current)</span></a></li>
                <!--<li><a ng-click="ctrl.save()" ng-show="ctrl.clientToDoList.length">Save Tasks</a></li>-->
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" ng-model="ctrl.criteria">
                </div>
                <!--<button type="submit" class="btn btn-default">Submit</button>-->
            </form>
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="#">Link</a></li>-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <strong>Filter Tasks</strong> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="c in ctrl.category"><a ng-click="ctrl.filter_cat(c.Category)">{{ c.Category }}</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <!--<h1 class="animated infinite fadeInDownBig">TODO List</h1>-->
    <h1>TODO List</h1>
    <hr>
    <form name="ToDoForm" ng-submit="ctrl.add()" autocomplete="off">
        <div class="form-group">
            <label for="task">Task: </label>
            <input type="text" class="form-control" name="task" id="task" placeholder="Input Task" required ng-model="ctrl.newTodo.task">
        </div>
        <div class="form-group">
            <label for="dueDate">Due Date: </label>
            <input type="date" name="dueDate" id="dueDate" required ng-model="ctrl.newTodo.due">
            &nbsp;&nbsp;
            <label for="priority">Priority: </label>
            <select name="priority" id="priority" required ng-model="ctrl.newTodo.priority">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            &nbsp;&nbsp;&nbsp;
            <label for="category">Category: </label>
            <select name="category" id="category" required ng-model="ctrl.newTodo.category">
                <option value="Personal">Personal</option>
                <option value="Work">Work</option>
                <option value="Others">Others</option>
            </select>
            &nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn btn-primary" title="Add Task" ng-disabled="ToDoForm.$invalid"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></button>
        </div>
    </form>
    <hr>
    <h3>Task List ({{ctrl.clientToDoList.length}}):</h3>
    <h6 ng-show="ctrl.clientToDoList.length">Click on check box for tasks that have been completed</h6>
    <div class="list-group">
        <ul class="list-group" ng-repeat="t in ctrl.clientToDoList | filter:ctrl.criteria">
            <!--<ul class="list-group" ng-repeat="t in ctrl.clientToDoList">-->
            <!--<ul class="list-group" ng-repeat="t in ctrl.clientToDoList | filter:'Work'">-->
            <li class="list-group-item animated bounceInLeft" ng-class-odd="'oddcolor'" ng-class-even="'evencolor'">
                <label for="t"></label>
                <input type="checkbox" id="t" ng-model="t.done">&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="done-{{t.done}}">
                        <b>{{ t.task }}</b>
                        <button type="button" class="btn-xs btn-primary pull-right" title="Delete Task" ng-click="ctrl.delete_task(t)">x</button>
                        <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                        <br>
                        Due date: {{ t.due | date}}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Priority: {{ t.priority }}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Category: {{ t.category }}
                    </span>
            </li>
        </ul>
    </div>
    <!--Below code move to navigation bar-->
    <!--<button type="button" class="btn btn-warning" ng-click="ctrl.remove()" ng-show="ctrl.clientToDoList.length">Remove Completed Tasks</button>-->
    <!--<button type="button" class="btn btn-success" ng-click="ctrl.save()" ng-show="ctrl.clientToDoList.length">Save Tasks</button>-->
    <!--<div class="btn-group">-->
    <!--<button type="button"  ng-show="ctrl.category.length > 1" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
    <!--Filter <span class="caret"></span>-->
    <!--</button>-->
    <!--<ul class="dropdown-menu">-->
    <!--<li ng-repeat="c in ctrl.category"><a ng-click="ctrl.filter_cat(c.Category)">{{ c.Category }}</a></li>-->
    <!--</ul>-->
    <!--</div>-->
</div>

</body>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</html>